html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}

#infoContainer {
  position: fixed;
  display: flex;
  width: auto;
  top: 50%;
  transform: translate(0%, -50%);
  align-items: center;
}

#welcomeContainer {
  background-color: #1b1b4a;
  color: #ffffff;
  padding: 1rem;
  border-radius: 0.25rem;
  width: 75vw;
  max-width: 60rem;
  min-width: 40rem;
  max-height: 90vh;
  overflow: scroll;
}

#mobileCloseButton {
  position: absolute;
  margin: 0;
  right: 1rem;
  top: 1rem;
  background: none;
  color: #ffffff;
  font-size: 2rem;
  border: none;
}

h1 {
  line-height: 1rem;
}

#intro {
  padding-bottom: 1rem;
}

#note {
  font-size: 0.8rem;
}

.welcomeHeader {
  line-height: 0.5rem;
}

a {
  color: #ffffff;
}

#aboutMe {
  display: flex;
}

#headshotGroup {
  text-align: center;
  align-self: flex-end;
  padding-left: 0.5rem;
}

#headshot {
  width: 10rem;
}

.infoButtonPair {
  height: 2.5rem;
  display: flex;
  margin-left: 1rem;
}

#infoButton {
  font-size: 1rem;
  background-color: #1b1b4a;
  border: none;
  border-radius: 0.25rem;
  padding: 0.35rem;
  line-height: 0;
}

#triangle {
  width:2.5rem;
}

.infoPNG {
  width: 1.5rem;
}

.welcomePNG {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: 1rem;
}

#chartDiv {
  width: 50vw;
  max-width: 30rem;
  min-width: 20rem;
  height: 40vh;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 0.25rem;
  background-color: #ffffff;
}

#chartInfo {
  font-size: 1rem;
  color: black;
}

#histogramDiv {
  padding: 0rem 1rem 1rem 1rem;
  border-radius: 0.25rem;
  background: none;
}

#closeButton {
  position: absolute;
  margin: 0;
  right: 0.25rem;
  top: 0.25rem;
  background: none;
  color: #808080;
  font-size: 1rem;
  font-weight: 600;
  border: none;
}

#slider-container {
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
}

#opacityLabel {
  margin-bottom: 0.5rem;
  font-size: 14px;
}

#opacitySlider {
  width: 100%;
}

#customLegend {
  padding: 1rem;
}

h2 {
  margin: 0;
}

#sentinel2Leg{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.legPair {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.legColor {
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid #c0c0c0;
}

.borderSVG {
  width: 2rem
}