html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#chartDiv {
  width: 30rem;
  background-color: none;
  border: 1px solid #ccc;
  overflow: auto;
  
}

#histogramDiv {
  padding: 1rem 1rem 1rem 1rem;
  width: 30rem;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
}

#slider-container {
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
}

#opacityLabel {
  margin-bottom: 5px;
  font-size: 14px;
}

#customLegend {
  padding: 1rem;
}

#sentinel2Leg{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.legPair {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.legColor {
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid #c0c0c0;
}

.borderSVG {
  width: 2rem
}